<div class="filter-wrapper">
<!-- Expecie, Provincias, Tamaño, Edad viene de la BD -->
  <div class="filters">

    <div class="filter-group">
      <label>Especie</label>
      <select>
        <option>Todas</option>
        <option>Perros</option>
        <option>Gatos</option>
      </select>
    </div>

    <div class="filter-group">
      <label>Provincia</label>
      <select>
        <option>Todas</option>
      </select>
    </div>

    <div class="filter-group">
      <label>Tamaño</label>
      <select>
        <option>Mini</option>
        <option>Pequeño</option>
        <option>Mediano</option>
        <option>Grande</option>
      </select>
    </div>

    <div class="filter-group">
      <label>Edad</label>
      <select>
        <option>Cachorro</option>
        <option>Adulto</option>
        <option>Senior</option>
      </select>
    </div>

    <button class="btn-search">Buscar</button>

  </div>

</div>
