<section class="hero">
    <div class="hero-content">
      <h1 class="hero-title">Adoptalia</h1>
      <h2 class="hero-slogan">
        Donde empiezan las segundas oportunidades
      </h2>
    </div>

  <div class="hero-buttons">
    <button class="btn-adopt">Adoptar un amigo</button>
    <button class="btn-protect">Soy Protectora</button>
  </div>

  <!--curva inferior al terminar el hero-->
  <div class="hero-wave">
  <svg viewBox="0 0 1440 120">
    <path fill="#41431B"
      d="M0,64L80,74.7C160,85,320,107,480,112C640,117,800,107,960,90.7C1120,75,1280,53,1360,42.7L1440,32V120H0Z">
    </path>
  </svg>
</div>

</section>
