.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-md) var(--space-lg);

  position: sticky;
  top: 0;
  z-index: 10;

  background-color: var(--color-primary-dark);

  transition:
    background 0.3s ease,
    backdrop-filter 0.3s ease,
    box-shadow 0.3s ease;
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  font-size: var(--font-md);
  font-weight: var(--font-bold);
  color: var(--color-text-secondary);

  cursor: pointer;
}

.logo-icon {
  display: flex;
  align-items: center;
}

.logo-icon img {
  height: 50px;
  width: auto;
}

.links-container {
  display: flex;
  gap: var(--space-lg);
  list-style: none;
  margin: 0;
  padding: 0;
}

.links-container a {
  text-decoration: none;
  font-size: var(--font-md);
  color: var(--color-text-secondary);
  font-weight: var(--font-medium);
  transition: color 0.2s ease;
}

.links-container a:hover {
  color: var(--color-text-hover);
}

.links-container a.active {
  font-weight: var(--font-bold);
  border-bottom: 2px solid var(--color-text-secondary);
}

// Botones
button {
  font-size: var(--font-sm);
  transition: background 0.25s ease, color 0.25s ease;
  color: var(--color-text-secondary);
  border: 1px solid var(--color-text-secondary);
}

.dsk-actions {
  display: flex;
  gap: var(--space-sm);
}

.btn-session {
  border: 1px solid var(--color-text-secondary);
  background: transparent;
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-lg);
  cursor: pointer;
}

.btn-session:hover {
  background: var(--color-button-primary);
  color: var(--color-primary-dark);
}

.btn-login {
  background: var(--color-primary);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-lg);
  border: none;
  cursor: pointer;
  
}

.btn-login:hover {
  background: var(--color-button-secondary);
}

// Burguer-menu
.burger-menu {
  display: none;
  flex-direction: column;
  gap: var(--space-xs);

  cursor: pointer;
}

.burger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background: var(--color-text-secondary);
  border-radius: var(--radius-sm);
  transition: 0.3s;
}

// Animación burger-menu

.burger-menu.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.open span:nth-child(2) {
  opacity: 0;
}

.burger-menu.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.mobile-actions {
  display: none;
  flex-direction: column;
  gap: var(--space-sm);
}

@media (max-width: 900px) {

  .burger-menu {
    display: flex;

  }

  .links-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--color-primary-dark);
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
    padding: var(--space-md) 0;
    box-shadow: var(--shadow-md);
    display: flex;

    // Efecto Slide-down
    transform: translateY(-15px);
    opacity: 0;
    pointer-events: none;

    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .links-container.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .dsk-actions {
    display: none;
  }

  .mobile-actions {
    display: flex;
    gap: var(--space-sm);
    margin-top: var(--space-sm);
  }
}

.user-email {
  font-size: var(--font-sm);
  color: var(--color-text-hover);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-text-hover);
  opacity: 0.9;
}