// Estilos globales
:root {

  /* COLORES PRINCIPALES */

  --color-primary: #70735D;   /* Verde principal de la marca. Elementos clave */
  --color-primary-light: #AEB784;   /* Versión más clara del verde. Fondos suaves, navbar o hover ligero */
  --color-primary-superlight: #F4F0E4;   /* Versión muy clara para fondos destacados o secciones especiales */
  --color-primary-dark: #41431B;   /* Versión más oscura del verde */
  
  --color-button-primary: #d0b15a;   /* Hover de los botones principales */
  --color-button-secondary: #b56548;   /* Hover secundario */

  --color-background: #F2EFDC;   /* Fondo general de la web.*/
  --color-surface: #FFFFFF;   /* Fondo de componentes como tarjetas, filtros o formularios */
  --color-surface-soft: #D9CAAD;   /* Variante muy suave para secciones secundarias */

  --color-text-primary: #2F3E34;   /* Color principal del texto sobre fondo claro */
  --color-text-secondary: #F2EFDF;   /* Texto secundario para fondo oscuro */
  --color-text-muted: #9CA3AF;   /* Texto poco importante o placeholders */
  --color-text-hover: #FFE99A;   /* Color elementos interactivos */

  --color-accent: #E6A15A;   /* Color de acento cálido.Llamadas a la acción. */
  --color-accent-soft: #F3CFA3;   /* Versión suave del acento para hover o etiquetas */

  --color-border: #E5E7EB;   /* Bordes de inputs, tarjetas o separadores */
  --color-border-soft: #F0F1F3;   /* Bordes muy suaves para elementos sutiles */


  /* COLORES SECUNDARIOS */

  --color-success: #6AAE6D;   /* Mensajes de éxito o confirmaciones */
  --color-warning: #F2B84B;   /* Advertencias o avisos */
  --color-error: #E57373;   /* Errores o validaciones */

  --color-info: #6FA8DC;   /* Información general */

    /* ESPACIADO */

  --space-xxs: 0.1rem;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 4rem;

  /* BORDES */

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 20px;
  --radius-xl: 30px;

  /* SOMBRAS */

  --shadow-sm: 0 2px 5px rgba(0,0,0,0.08); /* Sombra ligera para tarjetas */
  --shadow-md: 0 4px 10px rgba(0,0,0,0.12); /* Sombra media para modales o elementos destacados */
  --shadow-lg: 0 8px 20px rgba(0,0,0,0.16); /* Sombra fuerte para popups o elementos muy destacados */

    /* TIPOGRAFÍA */

  --font-xs: 0.75rem;   
  --font-sm: 0.875rem;  
  --font-md: 1rem;      
  --font-lg: 1.25rem;  
  --font-xl: 1.5rem;    
  --font-xxl: 2rem;    
  --font-xxxl: 3.5rem;
  --font-hero: 2.5rem;   

  /* PESOS DE FUENTE */

  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;
}

// Media Queries para Responsive
@media (max-width: 768px) {

  :root {

    --font-hero: 2.2rem;
    --font-xxl: 1.7rem;
    --font-xl: 1.3rem;

  }
}

// Reset básico
*,
*::before,
*::after {
  box-sizing: border-box;
}

// scroll suave en toda la web
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--color-text);
  background: var(--color-background);
}


