<section class="categories">
    <div class="title">
        <h2>Encuentra a tu compañero perfecto</h2>
        <p>Explora nuestras categorías y descubre miles de animales esperando su nuevo hogar.</p>
    </div>

    <div class="cards-container">
        <div class="card" routerLink="/adoptar" [queryParams]="{especie: 'Perro'}">
            <div class="card-icon green">
              <img src="icons/icono-perro.webp" alt="Icono Perro" class="card-img">
            </div>
            <h3>Perros</h3>
        </div>

        <div class="card" routerLink="/adoptar" [queryParams]="{especie: 'Gato'}">
            <div class="card-icon green">
              <img src="icons/icono-gato.webp" alt="Icono Gato" class="card-img">
            </div>
            <h3>Gatos</h3>
        </div>

        <div class="card" routerLink="/protectoras">
            <div class="card-icon green">
              <img src="icons/icono-prote.webp" alt="Icono Protectora" class="card-img">
            </div>
            <h3>Protectoras</h3>
        </div>

        <div class="card" routerLink="/como-funciona">
            <div class="card-icon green">
              <img src="icons/icono-collar.webp" alt="Icono Proceso de Adopción" class="card-img">
            </div>
            <h3>Proceso de Adopción</h3>
        </div>

        <div class="card" routerLink="/casos-exito">
            <div class="card-icon green">
              <img src="icons/icono-exito.webp" alt="Icono Casos de Éxito" class="card-img">
            </div>
            <h3>Casos de éxito</h3>
        </div>

        <div class="card" onclick="window.open('https://www.instagram.com/adoptalia.es','_blank')">
            <div class="card-icon green">
              <img src="icons/icono-comunidad.webp" alt="Icono Comunidad" class="card-img">
            </div>
            <h3>Comunidad</h3>
        </div>
    </div>
</section>