<section class="categories">
    <div class="title">
        <h2>Encuentra a tu compañero perfecto</h2>
        <p>Explora nuestras categorías y descubre miles de animales esperando por ti</p>
    </div>

    <div class="cards-container">
        <div class="card">
            <div class="card-icon green">🐶</div>
                <h3>Perros</h3>
            </div>

        <div class="card">
            <div class="card-icon orange">🐱</div>
                <h3>Gatos</h3>
        </div>

        <div class="card">
            <div class="card-icon green" routerLink="/protectoras">🏠</div>
                <h3>Protectoras</h3>
        </div>
    
        <div class="card">
            <div class="card-icon orange" routerLink="/como-funciona">❤️</div>
                <h3>Proceso de Adopción</h3>
        </div>

        <div class="card">
            <div class="card-icon green">✨</div>
                <h3>Casos Especiales</h3>
        </div>

        <div class="card">
            <div class="card-icon orange">🫂</div>
                <h3>Comunidad</h3>
        </div>
    </div>
</section>
